{% extends 'admin/change_list.html' %}
{% load i18n %}

{% block object-tools-items %}
  {% url 'admin_telebot_broadcast' as broadcast_url %}
  {% if broadcast_url %}
    <li>
      <a href="{{ broadcast_url }}" class="addlink">
        {% trans "Send Messages" %}
      </a>
    </li>
    {% endif %}
  {{ block.super }}
{% endblock %}
